@model MealDate

<div class="p-1 mb-1">
    <h6 class="card-title">@Model.Meal?.Name</h6>
    <div class="card-text">@Model.Meal?.Description</div>
    <div class="card-text">@Model.Meal?.DateTime.ToShortTimeString()</div>
    <div class="card-text">@Model.Meal?.StudentCook?.Name</div>
</div>

@if (!Model.UserIsRegistered) {

    <form asp-action="Register" method="post">

        <input type="hidden" asp-for="Meal.Id" value=@Model.Meal.Id />


        <button type="submit" class="btn btn-success m-1 p-1">
            Mee eten <span class="badge badge-light">@(Model.Meal?.StudentsGuests?.Count() ?? 0)</span>
        </button>


    </form>

} else {

    <form asp-action="Cancel" method="post">

        <button class="btn btn-danger m-1 p-1">
            Afzeggen <span class="badge badge-light">@(Model.Meal?.StudentsGuests?.Count() ?? 0)</span>
        </button>

    </form>

}