@model MealDate

<h5 class="card-title">@Model.Meal?.Name</h5>
<p class="card-text">@Model.Meal?.Description</p>
<p class="card-text">@Model.Meal?.DateTime.ToShortTimeString()</p>
<p class="card-text">@Model.Meal?.StudentCook?.Name</p>

@if (Model.UserLoggedIn) {
    <a asp-action="Show" class="btn btn-info" asp-route-mealId="@Model.Meal.Id">
        Details
    </a>
}

@if (Model.UserLoggedIn) {

    if (Model.UserIsCook) {

        if (!Model.MealIsFull) {

            <a asp-action="Edit" class="btn btn-secondary" asp-route-mealId="@Model.Meal.Id">
                Bijwerken
            </a>

        }

    } else {

        if (!Model.UserIsRegistered) {

            if (!Model.MealIsFull) {
                <a asp-action="Register" class="btn btn-success" asp-route-mealId="@Model.Meal.Id">
                    Mee eten <span class="badge badge-light">@(Model.Meal?.StudentsGuests?.Count() ?? 0)</span>
                </a>
            }

        } else {

            <a asp-action="Cancel" class="btn btn-danger" asp-route-mealId="@Model.Meal.Id">
                    Afzeggen <span class="badge badge-light">@(Model.Meal?.StudentsGuests?.Count() ?? 0)</span>
            </a>

        }

    }

}