@model WidgetViewModel

<h5>Snelle informatie</h5>
<hr />
<div class="p-3 mb-2 bg-info text-white rounded">@Model.TodayInfo</div>
<div class="p-3 mb-2 bg-info text-white rounded">@Model.TomorrowInfo</div>
<div class="p-3 mb-2 bg-info text-white rounded">@Model.YouCookToDay</div>
<div class="p-3 mb-2 bg-info text-white rounded">@Model.YouCookTwoWeeks</div>
<div class="p-3 bg-info text-white rounded">@Model.YouEatTwoWeeks</div>